<% content_for :title do %>
	JSHOPへようこそ
<% end %>

<h2>
	よくある質問
</h2>

<div>
	Q. Webサイトに現在地が表示されない<br />
	A. スマートフォンの設定から、現在地の通知を有効にしてください。<br />
	<a href="http://support.apple.com/kb/HT5594?viewlocale=ja_JP">iPhoneはコチラを参照</a><br />
	<a href="http://www.atmarkit.co.jp/ait/articles/1310/23/news120.html">androidはコチラを参照</a>
</div>
