<% content_for :title do %>
JSHOPへようこそ
<% end %>

<p>
お土産品『勝手に』ランキングサイトへようこそ。<br/>
このサイトでは、現在地の情報と引き換えに、<br/>
現在地でのお土産品のランキング情報を提供します。<br/>
是非、お土産品の購入の際に、ご参考にしてください。<br/>
<br/>
次のランキング情報の画面に進まれる場合には、<br/>
下にある「現在地情報を送る」ボタンを押してください。<br/>
<br/>
※注意：このサイトのお土産品のランキングは<br/>
楽天のAPIを基にした、ランキング情報です。<br/>
</p>
※以下の端末で動作確認済みです。
<br>
<ul>
  <li>Android4.0.4 Firefox</li>
  <li>iOS7.0.4 Safari</li>
</ul>

<div class="row">
  <div class="small-6 small-centered columns">
    <%= link_to('現在地情報を送る', {controller:'items', action:'index'}, {class:'button'}) %>
  </div>
</div>
