<% content_for :title do %>
JSHOP - Introduction
<% end %>

<p>
Welcome!<br/>
This site introduce japanese souvenir.<br/>
This site get your geo location and introduce there souvenir.<br/>
</p>

<div class="row">
  <div class="small-6 small-centered columns">
    <%= link_to('Send Location', {controller:'items', action:'index'}, {class:'button'}) %>
  </div>
</div>
