<div id="error_dialog" class="reveal-modal">
  <h2>現在地取得失敗</h2>
  <p>
  現在地を取得できませんでした。<br/>
  仮の現在地を東京駅にセットします。<br/>
  地図を操作して目標地点まで移動してください。<br/>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>
