<% content_for :title do %>
JSHOP - お土産情報
<% end %>

<h2>現在地</h2>
<div id="map-canvas">
</div>
<p class="center">
地図をタップして現在地を変更できます。<br/>
地図をドラッグして動かすことができます。
</p>
<div class="center">
  <%= button_tag('都道府県名で探す', {type:'button', id:'prefecture_search', class:'small button', style:'display:none'}) %>
  <%= button_tag('市区町村名で探す', {type:'button', id:'locality_search', class:'small button'}) %>
</div>
<input type="hidden" id="locate" name="locate" value="">
<input type="hidden" id="prefecture" name="prefecture" value="">
<input type="hidden" id="locality" name="locality" value="">
<input type="hidden" id="search_mode" name="search_mode" value="prefecture">
<input type="hidden" id="genre_id" name="genre_id" value="551167">

<a name="first"></a>
<h2 id="prefname"></h2>
<dl class="sub-nav sub-nav-center">
  <dt><span class="sub-nav-caption">ジャンル：</span></dt>
  <dd id="sweets_search" class="active"><a>お菓子</a></dd>
  <dd id="foods_search"><a>おかず・食材</a></dd>
</dl>
<div id="floatingBarsG" class="center">
  <div class="blockG" id="rotateG_01"></div>
  <div class="blockG" id="rotateG_02"></div>
  <div class="blockG" id="rotateG_03"></div>
  <div class="blockG" id="rotateG_04"></div>
  <div class="blockG" id="rotateG_05"></div>
  <div class="blockG" id="rotateG_06"></div>
  <div class="blockG" id="rotateG_07"></div>
  <div class="blockG" id="rotateG_08"></div>
</div>
<div id="ranking">
</div>
<br/>
<div class="center">
  <a href="#first">▲1位に戻る</a>
</div>
<br/>
<div class="center">
  <a href="https://docs.google.com/forms/d/1hAMqDp2ej4d3NB1ico5Oa0gQY3HC8nSi5kb-_ZwsxEQ/viewform">ご意見・ご感想</a>
</div>
<div class="center">
	<a href="/static/faq">よくある質問</a>
</div>
<%= render :partial => 'error_dialog' %>
<script>
$(document).ready(function(){
  google.maps.event.addDomListener(window, 'load', initialize);
});

$('#sweets_search').click(function(){
  $('#sweets_search').addClass('active');
  $('#foods_search').removeClass('active');
  var genre_id = 551167;
  var locate = $('#locate').val();
  reloadRanking('sweets_search', locate, genre_id);
});

$('#foods_search').click(function(){
  $('#sweets_search').removeClass('active');
  $('#foods_search').addClass('active');
  var genre_id = 100227;
  var locate = $('#locate').val();
  reloadRanking('foods_search', locate, genre_id);
});

$('#prefecture_search').click(function(){
  var genre_id = $('#genre_id').val();
  var locate = $('#prefecture').val();
  reloadRanking('prefecture_search', locate, genre_id);
});

$('#locality_search').click(function(){
  var genre_id = $('#genre_id').val();
  var locate = $('#locality').val();
  reloadRanking('locality_search', locate, genre_id);
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46040495-1', 'jshop.herokuapp.com');
  ga('send', 'pageview');

</script>
