<% content_for :title do %>
JSHOP - お土産情報
<% end %>

<h2>現在地</h2>
<div id="map-canvas">
</div>
<br/>
<div class="row">
  <div class="small-6 small-centered columns">
    <%= button_to_function('リロード', 'location.reload()', {class:'tiny button secondary'}) %>
  </div>
</div>
<input type="hidden" id="locate" name="locate" value="">
<input type="hidden" id="prefecture" name="prefecture" value="">
<input type="hidden" id="locality" name="locality" value="">
<input type="hidden" id="search_mode" name="search_mode" value="prefecture">

<a name="first"></a>
<h2 id="prefname"></h2>
<div id="prefecture_search" style="display:none"><a href="#">都道府県名で探す</a><br/><br/></div>
<div id="locality_search" style="display:none"><a href="#">市区町村名で探す</a><br/><br/></div>
■ジャンル<br/>
<select id="genre_id" name="genre_id" class="small-10">
  <option value="551167" selected>スイーツ・お菓子</option>
  <option value="100227">食品</option>
<!--
  <option value="100316">水・ソフトドリンク</option>
  <option value="510901">日本酒・焼酎</option>
  <option value="510915">ビール・洋酒</option>
-->
</select>
<br/>
<div id="floatingBarsG" >
  <div class="blockG" id="rotateG_01"></div>
  <div class="blockG" id="rotateG_02"></div>
  <div class="blockG" id="rotateG_03"></div>
  <div class="blockG" id="rotateG_04"></div>
  <div class="blockG" id="rotateG_05"></div>
  <div class="blockG" id="rotateG_06"></div>
  <div class="blockG" id="rotateG_07"></div>
  <div class="blockG" id="rotateG_08"></div>
</div>
<div id="ranking">
</div>
<!--
■価格帯<br/>
<dl class="sub-nav">
  <dd class="active"><a href="#">指定なし</a></dd>
  <dd><a href="#">2,000円以下</a></dd>
  <dd><a href="#">2,000-4,000円</a></dd>
  <dd><a href="#">4,000円以上</a></dd>
</dl>
-->
<a href="#first">▲1位に戻る</a><br/>
<a href="https://docs.google.com/forms/d/1hAMqDp2ej4d3NB1ico5Oa0gQY3HC8nSi5kb-_ZwsxEQ/viewform">ご意見・ご感想</a><br/>
<script>
$(document).ready(function(){
  google.maps.event.addDomListener(window, 'load', initialize);
});

$('#genre_id').change(function(){
  $('#ranking').html('');
  $('#floatingBarsG').show();
  var genre_id = $('#genre_id').val();
  var locate = $('#locate').val();
  $.ajax({
    url: '/items/search/' + locate + '?genre_id=' + genre_id,
    settings: {
      type: 'GET',
      ataType: 'html'
    }
  }).done(function(data){
    console.log('success');
    console.log(data);
    $('#ranking').html(data);
    $('#floatingBarsG').hide();
  }).fail(function(data){
    console.log('fail');
  });
});
$('#prefecture_search').click(function(){
  $('#ranking').html('');
  $('#floatingBarsG').show();
  $('#prefecture_search').hide();
  var genre_id = $('#genre_id').val();
  var locate = $('#prefecture').val();
  $.ajax({
    url: '/items/search/' + locate + '?genre_id=' + genre_id,
    settings: {
      type: 'GET',
      ataType: 'html'
    }
  }).done(function(data){
    console.log('success');
    console.log(data);
    $('#ranking').html(data);
    $('#floatingBarsG').hide();
    $("#prefname").text(locate + "のお土産");
    $('#locality_search').show();
    $('#locate').val(locate);
    $('#search_mode').val('prefecture');
  }).fail(function(data){
    console.log('fail');
  });
});
$('#locality_search').click(function(){
  $('#ranking').html('');
  $('#floatingBarsG').show();
  $('#locality_search').hide();
  var genre_id = $('#genre_id').val();
  var locate = $('#locality').val();
  $.ajax({
    url: '/items/search/' + locate + '?genre_id=' + genre_id,
    settings: {
      type: 'GET',
      ataType: 'html'
    }
  }).done(function(data){
    console.log('success');
    console.log(data);
    var locate = $('#locality').val();
    $('#ranking').html(data);
    $('#floatingBarsG').hide();
    $("#prefname").text(locate + "のお土産");
    $('#prefecture_search').show();
    $('#locate').val(locate);
    $('#search_mode').val('locality');
  }).fail(function(data){
    console.log('fail');
  });
});

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46040495-1', 'jshop.herokuapp.com');
  ga('send', 'pageview');

</script>
