<% content_for :title do %>
JSHOP - Items
<% end %>

<h2>Location</h2>
<div id="map-canvas"></div>
<br/>
<div class="row">
  <div class="small-6 small-centered columns">
    <%= button_to_function('reload', 'location.reload()', {class:'tiny button secondary'}) %>
  </div>
</div>

<h2>Souvenir</h2>
<div class="section-container auto" data-section id="sticker">
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">All</a></p>
    <div class="content" data-section-content>
      <h3>All</h3>
      <div id="all">
        <%= render 'items', items: @rakuten_items %>
      </div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Foods</a></p>
    <div class="content" data-section-content>
      <h3>Foods</h3>
      <div id="foods">
        <%= render 'items', items: @rakuten_items %>
      </div>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel3">Others</a></p>
    <div class="content" data-section-content>
      <h3>Others</h3>
      <div id="others">
        <%= render 'items', items: @rakuten_items %>
      </div
    </div>
  </section>
</div>
<script>
$(document).ready(function(){
  google.maps.event.addDomListener(window, 'load', initialize);
});
</script>
