<% content_for :title do %>
JSHOP - Items
<% end %>

<h2>Location</h2>
<div id="map-canvas"></div>
<div class="row">
  <div class="small-6 small-centered columns">
    <%= button_to_function('reload', 'location.reload()', {class:'tiny button secondary'}) %>
  </div>
</div>
<h2>Souvenir</h2>
<div id="accordion">
  <h3>Foods</h3>
  <div>
    <ul class="small-block-grid-4">
      <li>
        <a href="http://item.rakuten.co.jp/katsuki-foods/10000080/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/katsuki-foods/cabinet/shohin/img59930163.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/kioskgift/10000134/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/kioskgift/cabinet/gomatama/img59455249.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61009567/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61009567_z1.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61026103/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61028255_z1.jpg?_ex=64x64">
        </a>
      </li>
    </ul>
    <ul class="small-block-grid-4">
      <li>
        <a href="http://item.rakuten.co.jp/katsuki-foods/10000080/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/katsuki-foods/cabinet/shohin/img59930163.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/kioskgift/10000134/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/kioskgift/cabinet/gomatama/img59455249.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61009567/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61009567_z1.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61026103/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61028255_z1.jpg?_ex=64x64">
        </a>
      </li>
    </ul>
  </div>
  <h3>Others</h3>
  <div>
    <ul class="small-block-grid-4">
      <li>
        <a href="http://item.rakuten.co.jp/katsuki-foods/10000080/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/katsuki-foods/cabinet/shohin/img59930163.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/kioskgift/10000134/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/kioskgift/cabinet/gomatama/img59455249.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61009567/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61009567_z1.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61026103/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61028255_z1.jpg?_ex=64x64">
        </a>
      </li>
    </ul>
    <ul class="small-block-grid-4">
      <li>
        <a href="http://item.rakuten.co.jp/katsuki-foods/10000080/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/katsuki-foods/cabinet/shohin/img59930163.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/kioskgift/10000134/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/kioskgift/cabinet/gomatama/img59455249.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61009567/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61009567_z1.jpg?_ex=64x64">
        </a>
      </li>
      <li>
        <a href="http://item.rakuten.co.jp/trv/61026103/" target="_blank">
          <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/trv/cabinet/52_kokunai/61028255_z1.jpg?_ex=64x64">
        </a>
      </li>
    </ul>
  </div>
</div>
<!--
<div class="section normal update">
  <dl class="clearFix" id="rakuten_items">
    <%= render 'items', items: @rakuten_items %>
  </dl>
</div>
-->
<script>
$(document).ready(function(){
  $( "#accordion" ).accordion({
    collapsible: true,
    heightStyle: "content"
  });
  google.maps.event.addDomListener(window, 'load', initialize);
});
</script>
